@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --pri-pb: hsl(225, 100%, 94%);
  --pri-bb: hsl(245, 75%, 52%);

  --neu-vpb: hsl(225, 100%, 98%);
  --new-db1: hsl(224, 23%, 55%);
  --neu-db2: hsl(223, 47%, 23%);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
}

body{
    position: relative;
    width: 100%;
    height: 100vh;
    background: var(--pri-pb);
    @media (min-width:700px){
        font-size: 15px;
    }
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .card{
        background-color: #fff;
        margin: 1em;
        min-width: 343px;
        max-width: 400px;
        border-radius: 20px;
        overflow: hidden;
        .card__image{
            >img{
                width: 100%;
            }
        }
        .card__details{
            padding: 2em;
            text-align: center;
            padding: 1em;
            @media (min-width: 700px){
                padding: 3em;
            }
            h1{
                font-weight: 900;
                color: var(--neu-db2);
                margin-bottom: 20px;
                font-size: 1.7rem;
            }
            >p{
                color:hsl(224, 23%, 55%);
                line-height: 1.6rem;
                margin-bottom: 20px;
                padding-inline: 1em;
            }
            .plan{
                background: hsl(225, 100%, 98%);
                border-radius: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1em 1em;
                margin-bottom: 20px;
                >img{
                    flex: 0.2;
                }
                .plan__details{
                    flex: 0.6;
                    text-align: left;
                    padding-left: 1em;
                    h4{
                        font-weight: 900;
                    }
                    p{
                        color: hsl(224, 23%, 55%);
                    }
                    
                }
                a{
                    flex: 0.2;
                    font-size: 12px;
                    font-weight: 900;
                    color: rgb(56, 41, 224);
                }
            }
            .buttons{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                #payment{
                    width: 100%;
                    background: hsl(245, 75%, 52%);
                    color: hsl(225, 100%, 98%);
                    text-decoration: none;
                    padding: 1em;
                    border-radius: 10px;
                    font-weight: 700;
                    box-shadow: 0 10px 20px rgba(56, 41, 224,0.3);
                }
                #cancel{
                    font-weight: 700;
                    color: hsl(224, 23%, 55%);
                    text-decoration: none;
                    margin: 2em 1em 0em;
                }
            }
        }
    }
}

footer{
    position: absolute;
    top: 95%;
    text-align: center;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    z-index: -100;
    color: var(--pri-sb);
    a{
        text-decoration: none;
        color: var(--pri-c);
    }
}